<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>User</th>
      <th>Type</th>
      <th>Asset</th>
      <th>Amount</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each_with_index do |transaction, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= transaction.name %></td>
        <td><%= transaction.user.email %></td>
        <td><%= transaction.transaction_type %></td>
        <td><%= transaction.asset_type %></td>
        <td><%= transaction.transaction_transfers_by('cash').first&.amount %></td>
        <td>
          <%= link_to 'Approve', approve_transaction_path(transaction), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn-sm btn-info' %>
          <%= link_to 'Reject', reject_transaction_path(transaction), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>